.hamburger-container {
  position: fixed;
  border-radius: 50%;
  padding: 1rem;
  background-color: #fff;
  left: 93vw;
  top: 3%;
  box-shadow: 1px 5px 8px 2px #ddd;
  z-index: 3;
}

.hamburger {
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.hamburger-box {
  width: 1rem;
  height: 0.5rem;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  width: 100%;
  height: 2px;
  background-color: #0123ff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0123ff;
  position: absolute;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger-inner::before {
  top: -5px;
}

.hamburger-inner::after {
  top: 5px;
}

.hamburger-active .hamburger-inner {
  background-color: transparent;
}

.hamburger-active .hamburger-inner::before {
  transform: translateY(5px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
  transform: translateY(-5px) rotate(-45deg);
}

.hamburger-navigation {
  height: 100vh;
  width: 350px;
  background-color: #fff;
  position: fixed;
  display: none;
  right: 0px;
  top: 0;
  z-index: 2;
  box-shadow: 1px 5px 8px 2px #ddd;
}

.hamburger-navigation-active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-list {
  margin-top: 200px;
  list-style-type: none;
  background-color: #fff;
}

.hamburger-item {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.hamburger-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #999;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.hamburger-item a:hover {
  transform: scale(1.1);
}

.hamburger-item img {
  padding-left: 20px;
  width: 30%;
  filter: grayscale(1);
  opacity: 0.3;
  background-color: #fff;
}

#categories {
  color: #0123ff;
  padding-bottom: 5px;
  border-bottom: solid 1px #0123ff;
}

#categories:hover {
  background-color: #0123ff;
  color: #fff;
  padding: 0.5rem;
  border-radius: 15px;
}

@media (max-width: 500px) {
  .hamburger-container {
    left: 80vw;
  }

  .hamburger-navigation {
    width: 250px;
  }
}
