* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}

.container {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
}

.title-container {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 42px;
  animation: title-load;
  animation-duration: 1s;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: category-load;
  animation-duration: 1s;
}

.category-text {
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
}

.category-image {
  width: 20%;
  filter: grayscale(1);
  opacity: 0.3;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.product-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  height: 300px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-small:hover {
  transform: translateY(5px);
}

.product-image-small {
  padding-bottom: 2rem;
  width: 150px;
  background-color: #fff;
}

.product-title-small {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #fff;
}

.product-desc {
  color: #999;
  background-color: #fff;
}

.price-small {
  padding-top: 0.5rem;
  color: #0123ff;
  font-weight: 700;
  background-color: #fff;
}

.product-medium {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  flex-direction: row;
  grid-column-start: 2;
  grid-column-end: 4;
  height: 300px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-medium:hover {
  transform: translateY(5px);
}

.product-image-medium {
  padding-bottom: 2rem;
  width: 300px;
  background-color: #fff;
}

.product-title-medium {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #fff;
}

.price-medium {
  padding-top: 0.5rem;
  color: #0123ff;
  font-weight: 700;
  background-color: #fff;
}

.product-large {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  flex-direction: row;
  grid-column-start: 2;
  grid-column-end: 5;
  height: 300px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-large:hover {
  transform: translateY(5px);
}

.product-image-large {
  padding-bottom: 2rem;
  width: 400px;

  background-color: #fff;
}

.product-title-large {
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  background-color: #fff;
}

.price-large {
  padding-top: 2rem;
  color: #0123ff;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #fff;
}

.more-container {
  padding: 2rem;
  text-align: center;
}

.more {
  text-transform: uppercase;
  color: #0123ff;
  font-weight: 600;
  border-bottom: solid 1px #0123ff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.more:hover {
  background-color: #0123ff;
  color: #fff;
  padding: 0.5rem;
  border-radius: 15px;
}

@keyframes title-load {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes category-load {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .product-container {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .product-medium {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .product-large {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (max-width: 1000px) {
  .product-medium {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media (max-width: 700px) {
  .product-container {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .prduct-small {
    width: 100%;
    flex-direction: row;
  }

  .product-small:last-child {
    grid-row: 4/5;
  }

  .product-large {
    height: 300px;
    width: 300px;
    flex-direction: column;
  }

  .product-medium {
    height: 300px;
    width: 300px;
    flex-direction: column;
  }

  .product-image-medium {
    width: 200px;
  }

  .product-image-large {
    width: 200px;
  }
}
